@media (max-width:1700px) {}

@media (max-width:800px) {}

@media (max-width:400px) {

    .logo_menu {
        width: 85%;
    }

    .container_menu {
        display: flex;
        width: 100%
    }

    .container_menu_1 {
        display: flex;
        height: 40rem;
        align-items: center;
        justify-content: center;
    }
}