.containter_single_1 {
    background-color: #74AF00;
    height: 32vh;
}

.container_single_2 {
    background-color: white;
}

.logo_single {
    width: 100%;
}

.container_logo_single {
    display: flex;
}

.text_top {
    display: flex;
    background-color: #74AF00;
    padding-bottom: 1.5rem;
    justify-content: center;
}

.containter_custom_menu {
    display: flex;
    padding: 2em 1.3rem;
}

.text_custom_menu {
    display: flex;
    flex-direction: column;
    border: 2px solid #74AF00;
    border-radius: 8px;
    padding: 0.5rem;
    box-sizing: border-box;
}

.containter_custom_text {
    display: flex;
    padding: 0em 1.3rem;
    justify-content: space-between;
    align-items: center;
}


.btn_single {
    display: flex;
    background-color: #74AF00;
    border-radius: 100px;
    padding: 0.5rem;
    width: 20vw;
    justify-content: center;
}